{% extends "Layout.html" %}
{% block content %}
<div class="blockC">
	<h1 class="head1">About Us</h1>
	<hr>
	<p class="about">Garud was conceptualized by Sudhir Chauhan, Pulkit Nigam, Mayur Bhoyar and Siddharth Tambe. The ultimate traffic management system that utilizes concepts of Machine Learning and Object learning. This system can be used for efficient computing within urban cities with high traffic congestion. The system computes the suitable amount of time for smooth traffic flow as well as predict the traffic on the next square.</p>
</div>
{% endblock %}